mqtt:
  MQTT_BROKER_HOST: 127.0.0.1
  MQTT_BROKER_PORT: 1883
  MQTT_BROKER_USER: "johndoe"
  MQTT_BROKER_PASSWD: "itsasecret"
  MQTT_CLIENT_ID: "APS2MQTT"
  MQTT_TOPIC_PREFIX: "super_topic"
  MQTT_RETAIN: False
  MQTT_DISCOVERY_ENABLED: True
  MQTT_DISCOVERY_PREFIX: "homeassistant"
  MQTT_BROKER_SECURED_CONNECTION: False
  MQTT_BROKER_CACERTS_PATH: None
ecu:
  APS_ECU_IP: "192.168.0.1"
  APS_ECU_PORT: 8899
  APS_ECU_TIMEZONE: "Europe/Paris"
  APS_ECU_AUTO_RESTART: False
  APS_ECU_WIFI_SSID: "MyWifi"
  APS_ECU_WIFI_PASSWD: "1234567890"
  APS_ECU_STOP_AT_NIGHT: True
  APS_ECU_POSITION_LAT: 48.864716
  APS_ECU_POSITION_LNG: 2.349014