# CHANGELOG

{%- if ctx.history.unreleased %}
## Unreleased

{%- for type, commits in ctx.history.unreleased|dictsort %}
{%- if type == "features" %}
### ✨ Features
{%- elif type == "bug fixes" %}
### 🐛 Bug Fixes
{%- elif type == "performance improvements" %}
### ⚡ Performance Improvements
{%- elif type == "refactoring" %}
### ♻️ Refactor
{%- elif type == "documentation" %}
### 📝 Documentation
{%- elif type == "continuous integration" %}
### 🚀 CI/CD
{%- elif type == "build" %}
### 📦 Build
{%- elif type == "chores" %}
### 🧹 Chores
{%- elif type == "style" %}
### 🎨 Style
{%- elif type == "testing" %}
### 🧪 Tests
{%- elif type == "dependencies" %}
### ⬆️ Dependencies
{%- elif type == "revert" %}
### ⏪ Revert
{%- endif %}

{%- for commit in commits %}
{%- if commit.descriptions %}
- {{ commit.descriptions[0][0]|upper}}{{commit.descriptions[0][1:] }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.hexsha | commit_hash_url }}){% if commit.linked_merge_request %}, {{"[%s](%s)" | format(commit.linked_merge_request,commit.linked_merge_request | pull_request_url)}}{% endif %})
{%- endif %}
{%- endfor %}

{%- endfor %}
{%- endif %}

{%- for version, release in ctx.history.released.items() %}
## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

{%- for type, commits in release.elements|dictsort %}
{%- if type == "features" %}
### ✨ Features
{%- elif type == "bug fixes" %}
### 🐛 Bug Fixes
{%- elif type == "performance improvements" %}
### ⚡ Performance Improvements
{%- elif type == "refactoring" %}
### ♻️ Refactor
{%- elif type == "documentation" %}
### 📝 Documentation
{%- elif type == "continuous integration" %}
### 🚀 CI/CD
{%- elif type == "build" %}
### 📦 Build
{%- elif type == "chores" %}
### 🧹 Chores
{%- elif type == "style" %}
### 🎨 Style
{%- elif type == "testing" %}
### 🧪 Tests
{%- elif type == "dependencies" %}
### ⬆️ Dependencies
{%- elif type == "revert" %}
### ⏪ Revert
{%- endif %}

{%- for commit in commits %}
{%- if commit.descriptions %}
- {{ commit.descriptions[0][0]|upper}}{{commit.descriptions[0][1:] }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.hexsha | commit_hash_url }}){% if commit.linked_merge_request %}, {{"[%s](%s)" | format(commit.linked_merge_request,commit.linked_merge_request | pull_request_url)}}{% endif %})
{%- endif %}
{%- endfor %}

{%- endfor %}
{%- for type, commits in release.elements.items() %}
{%- for commit in commits %}
{%- if commit.breaking_descriptions %}
### 🚨 Breaking Changes

{%- for description in commit.breaking_descriptions %}
- {{ description[0]|upper}}{{description[1:] }}
{%- endfor %}

{%- endif %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
